<div class="panel panel-default">
  <div class="panel-heading col-xs-12 bg-light">
    <h4>{{ contact.name }}</h4>
    <img
      [src]="contact.imageUrl" 
      alt="{{ contact.name }}">
    <div class="pull-right">
      <button class="btn btn-primary header-btns">Edit</button>
      <button class="btn btn-danger header-btns">Delete</button>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-xs-12">
      <h4 class="contact-email">Email: {{ contact.email }}</h4>
      <h4 class="contact-phone">Phone: {{ contact.phone }}</h4>
    </div>
  </div>
</div>