<div class="row">
  <div class="col-xs-12">
    <h1>Contacts</h1>
    <button class="btn btn-success">Add New Contact</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let contact of contactList">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ contact.name }}</h4>
      </div>
      <img 
        [src]="contact.imageUrl"
        alt="{{ contact.name }}"
        class="img-responsive">
    </a>
  </div>
</div>